<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risposte</title>
</head>
<body>
    <div>
        <h1>Pagina Home</h1>
    </div>
    <div>
        <p>Ciao! Ora ti trovi nella pagina principale, qui puoi modificare la sveglia o il codice di riferimento
        per i messaggi telegram. <br>In alternativa puoi spostarti nella pagina per gestire le risposte.</p>
    </div>
    <div>
        {% if stato_sveglia %}
        <p>SVEGLIA ATTIVA - suona ogni giorno alle ore {{ orario_sveglia }}</p>
        <a href="{% url 'Malphite:spegniSveglia' %}"><button>SPEGNI Sveglia</button></a>
        {% else %}
        <p>SVEGLIA SPENTA - impostata alle ore {{ orario_sveglia }}</p>
        <a href="{% url 'Malphite:attivaSveglia' %}"><button>ATTIVA Sveglia</button></a>
        {% endif %}
        <form action="{% url 'Malphite:modificaSveglia' orario %}" method="post">
            {{ formOrario }}
            <input type="submit" value="Modifica Orario">
        </form>
        <form action="{% url 'Malphite:modificaSveglia' orario %}" method="post">
            {{ formOrario }}
            <input type="submit" value="Modifica Orario">
        </form>
        {% if user_id is not None %}
            <p>ID Utente Telegram collegato = {{user_id}}</p>
        {% else %}
            <p>ID Utente Telegram NON COLLEGATO =(</p>
        {% endif %}
        <form action="{% url 'Malphite:modificaUserId' user %}" method="post">
            {{ formUser }}
            <input type="submit" value="Modifica ID Utente">
        </form>
    </div>
    <div>
        <br>
        <a href="{% url 'Malphite:risposte' %}"><button>Pagina gestione risposte</button></a>
    </div>
</body>
</html>