<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risposte</title>
</head>
<body>
    <div>
        <h1>Pagina Home</h1>
    </div>
    <div>
        <p>Ciao! Ora ti trovi nella pagina principale, qui puoi modificare la sveglia o il codice di riferimento
        per i messaggi telegram. <br>In alternativa puoi spostarti nella pagina per gestire le risposte.</p>
    </div>
    <div>
        <br>
        <a href="{% url 'Malphite:risposte' %}"><button>Pagina gestione risposte</button></a>
    </div>
</body>
</html>